 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Restaurant Service</h1>


    <a class="btn btn-dark" href="/"> Customer  </a>
    <a class="btn btn-dark" href="/AdminMenuModel"> Admin  </a>
</div>
